{% extends 'books/base.html' %}
{% block title %}Book Details{% endblock %}
{% block content %}

<div class="card p-4 shadow-sm">
    <h3 class="text-primary mb-3">{{ book.title }}</h3>
    <p><strong>Author:</strong> {{ book.author }}</p>

    <p><strong>Price :</strong> {{ book.price }}</p>


    <div class="mt-3">
        <a href="{% url 'books:book_update' book.id %}" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
        <a href="{% url 'books:book_list' %}" class="btn btn-outline-secondary">Back</a>
    </div>
</div>

{% endblock %}

